<!DOCTYPE html>
<html lang="en" class="app">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>VEWA</title>
  <meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{ asset('bundles/vewabase/css/bootstrap.css', absolute=true) }}" rel="stylesheet" media="screen">

    <script type="text/JavaScript">
        <!--
        function timedRefresh(timeoutPeriod) {
            setTimeout("location.reload(true);",timeoutPeriod);
        }
        //   -->
    </script>
</head>
<body onload="JavaScript:timedRefresh(2000);">

    <div class="container-fluid">

      <table class="table">
          <tr>
              <th>Image</th>
              <th>Product Name</th>
              <th>Device Name</th>
              <th>Date</th>
          </tr>
          {% for product in products %}
          <tr>
              <td><a target="_blank" href="{{ product.product.link }}"><img src="{{ product.product.image }}" width="64px" /></a></td>
              <td><a target="_blank" href="{{ product.product.link }}">{{ product.product.name }}</a></td>
              <td>{{ product.wishlist.device.deviceName }}</td>
              <td>{{ product.modified|date('Y-m-d H:i:s') }}</td>
          </tr>
          {% endfor %}
      </table>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ asset('bundles/vewabase/js/jquery.min.js', absolute=true) }}"></script>
    <script src="{{ asset('bundles/vewabase/js/bootstrap.js', absolute=true) }}"></script>

</body>
</html>
